.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

#map {
    height: 800px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border: 1px solid rgb(152, 153, 152);
    padding: 10px;
    margin-bottom: 2em;
}

#map-object {
    height: 400px;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    border: 1px solid rgb(152, 153, 152);
    padding: 10px;
    margin-bottom: 2em;
}

.breadcrumb {
    padding: 1em;
}

.card {
    margin-bottom: 1.5em;
}

.fade {
    display: none;
}

.show {
    display: block;
}

#res-table th, #res-table td {
    border: none;
}

#res-table th {
    border-right: 1px solid lightgrey;
    width: 30%;
}

.nav-tabs {
    border-bottom: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

.container{
    max-width: 100%;
}