{% extends "templates/base.html" %}
{% block title%} Paul Kretschmer Reise Griechenland/Lesbos {% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Start</li>
      </ol>
  </nav>
  <div class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Paul Kretschmer</h1>
        <p class="lead text-muted">Reise nach Griechenland/Lesbos</p>
        <p>
          <a href="table.html" class="btn btn-primary my-2">Alle Fotographien als Tabelle</a>
          <a href="place-index.html" class="btn btn-secondary my-2">Alle Orte auf einer Karte</a>          
          <a href="person-index.html" class="btn btn-secondary my-2">Alle Personen als Tabelle</a>
        </p>
      </div>
    </div>
  </div>
  <div id="tab-navigation">
    <ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
      {% for col, items in objects|groupby('collection') %}
        <li class="nav-item" role="presentation">
          <button class=
            "{% if col == 'Fotos_0001-0028' %}
              nav-link active
            {% else %}
              nav-link
            {% endif %}"
            id="{{ col|lower }}-tab"
            data-bs-toggle="tab"
            data-bs-target="#{{ col|lower }}"
            role="tab"
            aria-controls="{{ col|lower }}"
            type="button"
            aria-selected=
            "{% if col == 'Fotos_1-28' %}
              true
            {% else %}
              false
            {% endif %}"
          >
            {{ loop.index }}
          </button>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div class="album py-5 bg-light">
    <div class="tab-content" id="nav-index">
      <div class="container">        
        {% for col, items in objects|groupby('collection') %}
          <div class=
            "{% if col == 'Fotos_0001-0028' %}
              tab-pane fade show active
            {% else %}
              tab-pane fade
            {% endif %}"
            id="{{ col|lower }}"
            role="tabpanel"
            aria-labelledby="{{ col|lower }}-tab"
          >
            <div class="row">    
                {% for res in items %}
                  <div class="col-md-4">

                    <div class="card shadow-sm">
                      <div class="card-header text-center">
                        {% for x in res.metadata %}
                          <img title="{{ x.titleOriginal }}"
                            src="https://loris.acdh.oeaw.ac.at/uuid:/kretschmer-lesbos/photos/{{ x.file1 }}/full/,300/0/default.jpg"                        
                          />                  
                        {% endfor %}
                      </div>

                      <div class="card-body">
                        <p class="card-text"></p>
                        <div class="d-flex justify-content-between align-items-center">
                          <p>{{ res.titleOrig }}</p>
                          <div class="btn-group">                        
                            <a type="button" class="btn btn-sm btn-outline-secondary" href="{{ res.url }}">Ansehen</a>
                            <!-- <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button> -->
                          </div>
                          <!-- <small class="text-muted">9 mins</small> -->
                        </div>
                      </div>
                    </div>

                  </div>
                {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

{% endblock %}