{% extends "templates/base.html" %}
{% block title%} Paul Kretschmer Reise Griechenland/Lesbos {% endblock %}
{% block content %}
  <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">Start</li>
      </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto text-center" id="index-title">
        <h1 class="fw-light">Die Reise von Paul und Leona Kretschmer nach Lesbos</h1>
        <p class="lead text-muted">Fotos und Tonaufnahmen einer Expedition um 1901</p>        
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8 mx-auto text-center" id="index-title">
        <div class="row">
          <div class="col-md-6">
            <a href="fotos-detail.html">
              <div class="card">
                Fotos
              </div>
            </a>
          </div>
          <div class="col-md-6">
            <a href="tonaufnahmen-detail.html">
              <div class="card">
                Tonaufnahmen
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}