{% extends "templates/base.html" %}
{% block title%} Die Reise von Paul und Leona Kretschmer nach Lesbos {% endblock %}
{% block content %}
  <div style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Start - Έναρξη</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Reise - Ταξίδι</li>
      </ol>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto text-center" id="index-title">
        <h1 class="fw-light">REISE - ΤΑΞΙΔΙ</h1>
      </div>
    </div>
    <div class="row" >
      <div class="col-lg-6 col-md-6 mx-auto" style="margin-bottom:4em;">   
        <div class="row">
          <div class="col-md-12">
            <h3 class="fw-light">ZIEL</h3>
            <p style="font-size:18px;" class="lead text-muted">
              Auf Auftrag der Balkankommission der ehemaligen Kaiserlichen Akademie der Wissenschaften (KAW) unternahm der Sprachwissenschaftler und Professor an der Universität Wien <a href="https://de.wikipedia.org/wiki/Paul_Kretschmer_(Linguist)" alt="Paul Kretschmer">Paul Kretschmer</a> (1866-1956) zusammen mit seiner Ehefrau Leona Kretschmer eine Expedition (05.08-06.12.1901) zur Insel Lesbos. Das Hauptziel der Reise war die Erforschung des lesbischen Dialekts sowie die Sammlung von volkskundlichem Material. Für diese Zwecke war der Sprachwissenschaftler auch mit einem Phonographen und einem Fotoapparat ausgestattet. <br/><br/>
              Als Ergebnis der Reise publizierte Kretschmer 1902 einen Bericht über seine Tätigkeiten in Lesbos sowie 1905 eine Monographie über den lesbischen Dialekt. Dieses Werk wurde als erstes Heft der Reihe „Neugriechische Dialektstudien“ der linguistischen Abteilung der Balkankommission der KAW veröffentlicht und hatte zur Folge, dass die neugriechischen Studien zum ersten Mal im Wiener akademischen Raum einen zentralen Schwerpunkt bildeten, nachdem diese vorher lediglich als Nebentätigkeit am Rande der Erforschung des Altgriechischen existiert hatten.
            </p>
          </div>
          <div class="col-md-12">
            <h3 class="fw-light">TRANSPORT</h3>
          </div>
          <div class="col-md-3">
            <p style="font-size:18px;" class="lead text-muted italic">     
              „Um 2 U(hr) sollte der Dampfer<br/>
              „Chios“ nach Mytilini<br/>
              kommen. Er verzögerte sich aber <br/>
              und wir mussten bis ½ 9 war-<br/>
              ten. Peinliche Situation“<br/>
              <strong>OeNB: Cod. Ser. 53996, Stueck 10, 37r</strong>      
            </p>
          </div>
          <div class="col-md-9">
            <p style="font-size:18px;" class="lead text-muted">
              Großteils reiste das Paar Kretschmer mit Dampfschiffen, die den Hafen von Triest mit dem Osmanischen Reich, Griechenland und Italien verbanden. Das fehlende Straßennetz führte dazu, dass die Hafenstädte von Inseln wie Lesbos (Mytilini, Plomari, Molyvos) oder Kreta (Chania, Rethymno, Irakleio) am besten über den Seeweg erreichbar waren. Heutzutage sind diese Schiffsverbindungen eingestellt und durch Inlandsstraßen ersetzt worden. Außerdem kam es oft zu Verspätungen in den Fahrplänen der Schiffe.<br/><br/>
            </p>
          </div>        
          <div class="col-md-9">
            <p style="font-size:18px;" class="lead text-muted">
              Eine große Herausforderung, die der Seeweg mit sich brachte, war der Transport vom Schiff zum Hafen, da die Größe der Häfen keine direkte Ausschiffung der Passagiere erlaubte, sondern Barken erforderte. Kretschmer notierte fast in allen Häfen die Kosten, die die Fährmänner für den Transport zum und vom Schiff verlangten, und die oft zu Streitereien führten. <br/><br/>
              Für das Erreichen der jeweiligen Orte am Festland wird der Transport mit Kutschen und Zweispännern oft erwähnt.<br/><br/>
            </p>
          </div>
          <div class="col-md-3">
            <p style="font-size:18px;" class="lead text-muted italic">     
              „Um ¾ 10 fuhr der Dampfer<br/>
              ab [von Mytilini nach Smyrna]. <a href="https://acdh-oeaw.github.io/kretschmer-static-py/0060-michail-k-stefanidis.html" alt="Stefanidis">Stefanidis und Xenophon</a> <br/>
              Gortsiotis hatten uns an Bord <br/>
              begleitet. Der Fährmann<br/>
              stritt natürlich wegen der<br/>
              Bezahlung (10 Piaster + 3 für<br/>
              die Lastenträger)“ <br/>
              <strong>OeNB: Cod. Ser. 53996, Stueck 11, 32v</strong><br/>  
            </p>
          </div>
          <div class="col-md-12 text-center">
            <img src="static/img/placeholder-image.png" alt="Kutsche in Lesbos"/>
          </div>
          <div class="col-md-12">
            <h3 class="fw-light">AUFENTHALTE (05.08-06.12.1901)</h3>          
          </div>
          <div class="col-md-12">
            <h4 class="fw-light">KRETA (13.08.-15.08.1901)</h4>        
          </div>
          <div class="col-md-12">            
            <p style="font-size:18px;" class="lead text-muted">     
              Das Paar Kretschmer begann seine Reise aus Wien am 5.08. mit dem Ziel Triest, den
              Hafen Österreich-Ungarns, zu erreichen. Zwei Tage später reiste das Paar mit dem
              Dampfer „Helios“ entlang der adriatischen Küste und durch die Ionischen Inseln zum
              ersten Reiseziel, der Hafenstadt Chania. Aus seinen Tagebüchern geht hervor, dass
              Kretschmer vom orientalischen Straßenleben und der multiethnischen Bevölkerung
              überrascht war. Mit dem Dampfer erreichte das Paar Rethymno (14.08.) und
              schließlich Irakleio (15.08.). Dort besuchten sie das archäologische Museum, dessen
              Direktor, Iosif Chatzidakis (1848-1936), ihnen „eine neugefundene Inschrift in
              unbekannter Sprache zeigte“. Von Kreta reiste das Paar mit Zwischenstationen in den
              Häfen von Piräus (16.08.) und Volos (17.08.) nach Thessaloniki.   
            </p>
          </div>
          <div class="col-md-12">
            <h4 class="fw-light">THESSALONIKI (18.08.-26.08.1901)</h4>
          </div>
          <div class="col-md-5">
            <img src="static/img/placeholder-image.png" alt="THESSALONIKI"/>
          </div>
          <div class="col-md-7">
            <p style="font-size:18px;" class="lead text-muted">     
              Der Aufenthalt in Thessaloniki hatte das
              Zusammentreffen und die Kooperation mit
              dem Byzantinisten Petros N. Papageorgiou
              als Ziel. Als ehemaliger Direktor des
              Gymnasiums von Mytilini (...) half dieser
              Kretschmer die nächsten Schritte der Reise
              zu planen. Die Zusammenarbeit der zwei
              Männer wird für fast alle Tage des dortigen
              Aufenthaltes in Kretschmers Tagebüchern
              notiert. Das Paar besuchte mit Papageorgiou
              das Kloster der Mevlevi-Derwische, die Burg
              der Stadt sowie die Vororte Kalamaria und
              Kapoutzis [Pylaia].
            </p>
          </div>
          <div class="col-md-12">
            <p style="font-size:18px;" class="lead text-muted">     
              Mit dem Dampfer „Sofia“ reisten Paul und Leona Kretschmer aus Thessaloniki nach
              Kavala (27.08.) und über Dedeagatsch (Alexandroupolis) und die Inseln Samothraki,
              Imbros (Gökçeada) und Tenedos (Bozcaada) erreichten sie am nächsten Tag den Hafen
              von Mytilini.
            </p>
          </div>
          <div class="col-md-12">
            <h4 class="fw-light">LESBOS (28.08.-24.10.1901)</h4>
          </div>
          <div class="col-md-7">
            <p style="font-size:18px;" class="lead text-muted">     
              In Lesbos verblieb Kretschmer mit seiner
              Ehegattin fast zwei Monate. Dort fand der größte
              Teil der Feldforschungen für die Dokumentation der verschiedenen lesbischen
              Mundarten statt, wie die vielfältigen Angaben zu Konjugationen, grammatikalischen
              Phänomenen und Wörtern in Kretschmers Tagebüchern verraten.
            </p>
          </div>
          <div class="col-md-5">
            <img src="static/img/placeholder-image.png" alt="LESBOS"/>
          </div>
          <div class="col-md-12">
            <p style="font-size:18px;" class="lead text-muted">     
              Für die Dokumentation der lesbischen Mundarten führte das Paar Kretschmer vier
              Ausflüge innerhalb der Insel durch. Die erste Reise fand nach Agiasos (04-07.09) statt,
              die zweite nach Plomari (19-21.08), die dritte nach Molivos (27.08.-03.10.) und die
              vierte nach Eresos (12.10.-16.10.). In allen Gebieten strebte Kretschmer danach, die vor
              Ort Lehrenden (Lehrer, Schuldirektoren, Gymnasiallehrer) zu treffen. Diese Gelehrten
              spielten eine doppelte Rolle in seiner Feldforschung, da sie ihm einerseits
              Feldforschungsmaterial (Märchen, Volkslieder, Sprichwörter) übergaben, das sie in
              früheren Jahren selber angesammelt hatten, und andererseits über konkrete
              sprachwissenschaftliche Phänomene des lokalen Dialekts berichteten. Ohne die
              Zusammenarbeit mit dem Netzwerk der lesbischen Lehrenden vor Ort, wäre
              Kretschmers Bestreben nach der Erforschung der linguistischen, volkskundlichen und
              demographischen Realität der Insel praktisch unmöglich gewesen.
            </p>
          </div>
          <div class="col-md-12">
            <h4 class="fw-light">KLEINASIEN (24.10.-30.10.1901)</h4>
          </div>
          <div class="col-md-5">
            <img src="static/img/placeholder-image.png" alt="KLEINASIEN"/>
          </div>
          <div class="col-md-7">
            <p style="font-size:18px;" class="lead text-muted">     
              Der nächste Aufenthalt nach Lesbos
              war Smyrna (Izmir). Dort besichtigten
              sie die Stadt und den Bazar sowie mit
              dem Schiff die Ortschaft Kordelio
              (Karşıyaka) (29.10.). Der Aufenthalt in
              Kleinasien zielte grundsätzlich auf den
              Besuch der Ausgrabungen des Österreichischen Archäologischen Instituts in Ephesos
              (27.-28.10.) ab. Dort wurde das Paar vom Archäologen Rudolf Heberdey (1864-1936)
              herumgeführt. Am 30.10. stieg das Paar in den Dampfer „Byzantion“ und kam am
              nächsten Tag in Chios an. Nach einem kurzen Aufenthalt fuhr der Dampfer nach
              Piräus (01.11.) weiter.
            </p>
          </div>   
          <div class="col-md-12">
            <h4 class="fw-light">ATHEN (01.11.-13.11.1901)</h4> 
          </div>    
          <div class="col-md-3">
            <p style="font-size:18px;" class="lead text-muted italic">     
              „Vorm(ittag) kam ein Student aus<br/>
              Skopelos.[..]<br/>
              Dann Loni [Leona Kretschmer] mit Frau Prof.<br/>
              Hatzidakis nach Kiphissia. Ich <br/>
              wartete inzwischen vergebens auf <br/>
              einen Studenten“<br/>
              <strong>OeNB: Cod. Ser. 53996, Stueck 12, 12v</strong>
            </p>
          </div>
          <div class="col-md-9">          
            <p style="font-size:18px;" class="lead text-muted">     
              Der Aufenthalt in Athen war sehr produktiv für
              die linguistische Arbeit von Kretschmer. Dort traf
              er den Sprachwissenschaftler Georgios N.
              Chatzidakis (1848-1941), einen Professor an der
              Universität Athen. Seine Studenten fungierten als
              <br/><br/>
              Informanten für Kretschmer, die der Wiener Professor zu ihren Mundarten befragte.
              Das Paar Kretschmer besuchte in diesem Zeitraum auch den Lykabettus sowie die
              archäologischen Orte der Stadt (Akropolis, Agora).
            </p>
          </div>
          <div class="col-md-12">
            <h4 class="fw-light">ITALIEN (15.11.-5.12.1901)</h4>
          </div>   
          <div class="col-md-9">            
            <p style="font-size:18px;" class="lead text-muted">     
              Die Frage nach griechischen Elemente in italienischen
              Dialekten definierte das nächste Ziel der Expedition.
              Das Paar fuhr von Athen zur Hafenstadt Patras und
              von dort mit dem Schiff „Scilla“ nach Brindisi.
              Kretschmer suchte in den Mundarten von Tarent nach
              griechischen Elementen, die er allerdings nicht
              lokalisieren konnte. Seine Feldforschung für die
              Dokumentation der neugriechischen Sprache endete
              praktisch hier.
            </p>
          </div>
          <div class="col-md-3">          
            <p style="font-size:18px;" class="lead text-muted italic">     
              „Die Fischer <br/>
              am Mare Piccolo sprechen zwar <br/>
              Dialekt, aber ohne griech(ische) Ele-<br/>
              mente“<br/>
              <strong>OeNB: Cod. Ser. 53996, Stueck 12, 18v</strong>
            </p>
          </div>
          <div class="col-md-5">
            <img src="static/img/placeholder-image.png" alt="ITALIEN"/>
          </div>
          <div class="col-md-7">
            <p style="font-size:18px;" class="lead text-muted">     
              Die nächsten Stationen der Reise waren viel
              mehr von privaten Momenten sowie dem
              Besuch von archäologischen
              Sehenswürdigkeiten, Kirchen, Dörfern und
              Städten Italiens geprägt, wie auch das
              Fotomaterial zeigt. Von Tarent fuhr das Paar
              (16.10) nach Salerno und über Amalfi (18.-
              19.10) erreichten sie die Hafenstadt Sorrent,
              wo sie mit dem Dampfer zur Insel Capri (20.11.) abfuhren.
            </p>
          </div> 
          <div class="col-md-12">
            <p style="font-size:18px;" class="lead text-muted">     
              Am nächsten Tag besuchten sie unter anderem die berühmte
              archäologische Stätte von Pompeji und nach einem kurzen Aufenthalt in Neapel
              kamen sie nach Rom (24.-29.11.). Dort besuchten sie unter anderem das Forum
              Romanum, den Vatikan und das Pantheon. Nach einem Aufenthalt in Florenz (29.11.-
              2.12.), der vor allem dem Besuch des Palazzo Pitti und der Uffizien gewidmet war,
              erreichte das Paar Venedig (2.-5.12), die letzte Station der Reise. Mit dem Dampfer
              fuhren sie nach Triest ab und am 6.12. traf das Paar Kretschmer wieder in Wien ein.
            </p>
          </div> 
          <div class="col-md-12 text-center">
            <img src="static/img/placeholder-image.png" alt="Tagebuch"/>
          </div> 
        </div>      
      </div>
    </div>
  </div>

{% endblock %}