{% extends "templates/base.html" %}
{% block title%} Die Reise von Paul und Leona Kretschmer nach Lesbos {% endblock %}
{% block scriptHeader %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-ajax/2.1.0/leaflet.ajax.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.2/openseadragon.min.js"></script>
    <script src="https://unpkg.com/arche-api@1.2.1/lib/arche-api.min.js"></script>
    <style>
        .container-fluid{
            max-width: 100%;
        }
        ul li {
            padding: .3em 0;
        }
    </style>
{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Start</a></li>     
        <li class="breadcrumb-item"><a href="fotos-detail.html">Fotografien</a></li>
        <li class="breadcrumb-item"><a href="{{ prev }}">{{ prevTitle.lstrip('0') }}</a></li>   
        <li class="breadcrumb-item active" aria-current="page">{{ titleOrig }}</li>        
        <li class="breadcrumb-item"><a href="{{ next }}">{{ nextTitle.lstrip('0') }}</a></li>
    </ol>
</nav>
<!--
<nav style="bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 1em;">
        <li class="breadcrumb-item"><a href="index.html">Κεντρική σελίδα</a></li>     
        <li class="breadcrumb-item"><a href="fotos-detail.html">Φωτογραφία</a></li>
        <li class="breadcrumb-item"><a href="{{ prev }}">{{ prevTitleGr.lstrip('0') }}</a></li>   
        <li class="breadcrumb-item active" aria-current="page">{{ titleOrigGr.lstrip('0') }}</li>        
        <li class="breadcrumb-item"><a href="{{ next }}">{{ nextTitleGr.lstrip('0') }}</a></li>
    </ol>
</nav>
-->
<div class="container-fluid">
    <div id="tab-navigation">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active"
                id="meta-german-tab"
                data-bs-toggle="tab"
                data-bs-target="#meta-german"
                role="tab"
                aria-controls="meta-german"
                type="button"
                aria-selected="true"
              >
                Deutsch
              </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                  id="meta-creek-tab"
                  data-bs-toggle="tab"
                  data-bs-target="#meta-creek"
                  role="tab"
                  aria-controls="meta-creek"
                  type="button"
                  aria-selected="false"
                >
                  Ελληνική
                </button>
            </li>
        </ul>
    </div>
    <div class="row">
        {% for x in metadata %}    
            <div class="col-md-6">   
                <div class="row">     
                    <div class="col-md-12">        
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="meta-german" tabindex="-1">
                                <div class="card">   
                                    <div class="card-header">
                                        <h1 class="fw-light">{{ x.titleDe }}</h1>   
                                    </div>
                                    <div class="card-body table-responsive">
                                        <table class="table" id="res-table">
                                            <tbody>
                                                <tr>
                                                    <th>Titel (Original)</th>
                                                    <td>{{ x.titleOriginal }}</td>
                                                </tr>
                                                <tr>
                                                    {% if x.descriptionDe is string %}
                                                        <th>Beschreibung</th>
                                                        <td>{{ x.descriptionDe }}</td>
                                                    {% endif %} 
                                                </tr>
                                                <tr>
                                                    <th>ONB Signatur/Inv-Nr.</th>
                                                    <td>{{ x.singatureInv }}</td>
                                                </tr>
                                                <tr>
                                                    <th>ONB Signatur Link</th>
                                                    <td>
                                                        <a target="_blank"
                                                            title="OENB"
                                                            href="{{ x.oenbLink }}">
                                                            {{ x.oenbLink }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Photograph/in</th>
                                                    <td>{{ x.photographDe }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Datum</th>
                                                    <td>{{ x.date }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ort/Region</th>
                                                    <td>
                                                        <span id="region-coords"
                                                            data-target="{{ x.coordinates }}">
                                                            {{ x.placeRegionDe }}
                                                        </span>                                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Land</th>
                                                    <td>{{ x.countryDe }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Land (historisch)</th>
                                                    <td>{{ x.countryHistoryDe }}</td>
                                                </tr> 
                                                {% if x.journalTitle1 is string %}                                       
                                                <tr>
                                                    <th>Reisetagebuch (Titel)</th>
                                                    <td>{{ x.journalTitle1 }}</td>                                            
                                                </tr>
                                                <tr>
                                                    <th>Reisetagebuch (Zitat 1)</th>
                                                    <td>
                                                        {{ x.relation1 | replace('\n', '<br>') }}
                                                        <br>
                                                        <!-- 
                                                        <a target="_blank"
                                                            title="{{ x.journalSignature1 }}"
                                                            href="https://loris.acdh.oeaw.ac.at/uuid:/kretschmer-lesbos/journal/{{ x.journalFile1 }}/full/full/0/default.jpg">
                                                        </a> 
                                                        -->
                                                        {{ x.journalSignature1 }}
                                                    </td>
                                                </tr>
                                                {% endif %} 
                                                {% if x.relation2 is string %}
                                                <tr>
                                                    <th>Reisetagebuch (Zitat 2)</th>
                                                    <td>
                                                        {{ x.relation2 | replace('\n', '<br>')  }}
                                                        <br>
                                                        <!-- 
                                                        <a target="_blank"
                                                            title="{{ x.journalSignature2 }}"
                                                            href="https://loris.acdh.oeaw.ac.at/uuid:/kretschmer-lesbos/journal/{{ x.journalFile2 }}/full/full/0/default.jpg">
                                                            {{ x.journalSignature2 }}
                                                        </a> 
                                                        -->
                                                        {{ x.journalSignature2 }}
                                                    </td>
                                                </tr>
                                                {% endif %} 
                                                {% if x.journalLink is string %}
                                                <tr>
                                                    <th>ONB Reisetagebuch (Link)</th>
                                                    <td>
                                                        <a target="_blank"
                                                            title="OENB"
                                                            href="{{ x.journalLink }}">
                                                            {{ x.journalLink }}
                                                        </a>
                                                    </td>
                                                </tr>  
                                                {% endif %} 
                                                {% if x.imageSize is string %}
                                                <tr>
                                                    <th>Bildgröße</th>
                                                    <td>
                                                        {{ x.imageSize }}
                                                        <br>
                                                        {{ x.px }}
                                                    </td>
                                                </tr>  
                                                {% endif %} 
                                                <tr>
                                                    <th>ARCHE Ressource Centre</th>
                                                    <td>
                                                        <table id="arche-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>PID</th>
                                                                    <th>Fotos (IIIF Server)</th>
                                                                    <th>RDF Zugang</th>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" id="file1_get" class="file1" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}
                                                                        </a>                                                                        
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}?format=iiif&amp;param=info.json
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}?format=metadata">
                                                                            <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                        </a>   
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" id="file2_get" class="file2" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=metadata">
                                                                            <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                        </a>  
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" id="journalfile1_get" class="journalfile1" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}
                                                                        </a> 
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation1 is string %}
                                                                                                                      
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=iiif&amp;param=info.json">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=iiif&amp;param=info.json
                                                                            </a>   
                                                                            
                                                                        {% endif %}   
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation1 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=metadata">
                                                                                <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                            </a> 
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" id="journalfile2_get" class="journalfile2" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}
                                                                            </a>  
                                                                        {% endif %} 
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=iiif&amp;param=info.json">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=iiif&amp;param=info.json
                                                                            </a>       
                                                                        {% endif %}  
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=metadata">
                                                                                <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                            </a> 
                                                                        {% endif %} 
                                                                    </td>
                                                                
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr> 
                                                <tr>
                                                    <th>Zitiervorschlag Web</th>
                                                    <td>
                                                        {{ x.photographDe }}. {{ x.titleDe }} In: Die Reise von Paul und Leona Kretschmer nach Lesbos - Fotos und Tonaufnahmen einer Expedition um 1901. 
                                                        Hg. Nikolaros Stratos, Pantillon Gabriel, Brigkos Ioannis, Stoxreiter Daniel 
                                                        (<a href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.fileName }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.fileName }}</a>), aufgerufen am <span class="current-date">Datum</span>.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Zitiervorschlag ARCHE</th>
                                                    <td>
                                                        {{ x.photographDe }}. {{ x.titleDe }} In: Die Reise von Paul und Leona Kretschmer nach Lesbos - Fotos und Tonaufnahmen einer Expedition um 1901. 
                                                        Hg. Nikolaros Stratos, Pantillon Gabriel, Brigkos Ioannis, Stoxreiter Daniel 
                                                        (<a class="file1" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file1 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file1 }}</a>
                                                        , <a class="file2" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file2 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file2 }}</a>
                                                        {% if x.journalFile1 is string %}
                                                        , <a class="journalfile1" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile1 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile1 }}</a>
                                                        {% endif %}
                                                        {% if x.journalFile2 is string %}
                                                        , <a class="journalfile2" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile2 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile2 }}</a>
                                                        {% endif %}
                                                        ), aufgerufen am <span class="current-date">Datum</span>.
                                                    </td>
                                                </tr>
                                            </tbody>         
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="meta-creek" tabindex="-1">
                                <div class="card">   
                                    <div class="card-header">
                                        <h1 class="fw-light">{{ x.titleGr }}</h1>   
                                    </div>
                                    <div class="card-body table-responsive">
                                        <table class="table" id="res-table">
                                            <tbody>
                                                <tr>
                                                    <th>Τίτλος (Αρχικό)</th>
                                                    <td>{{ x.titleOriginal }}</td>
                                                </tr>
                                                <tr>
                                                    {% if x.descriptionGr is string %}
                                                        <th>Περιγραφή</th>
                                                        <td>{{ x.descriptionGr }}</td>
                                                    {% endif %} 
                                                </tr>
                                                <tr>
                                                    <th>Αριθμός Εισαγωγής</th>
                                                    <td>{{ x.singatureInv }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Αριθμός Εισαγωγής  (Link)</th>
                                                    <td>
                                                        <a target="_blank"
                                                            title="OENB"
                                                            href="{{ x.oenbLink }}">
                                                            {{ x.oenbLink }}
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Φωτογράφος</th>
                                                    <td>{{ x.photographGr }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Ημερομηνία</th>
                                                    <td>{{ x.date }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Τόπος/Περιοχή</th>
                                                    <td>{{ x.placeRegionGr }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Χώρα</th>
                                                    <td>{{ x.countryGr }}</td>
                                                </tr>
                                                <tr>
                                                    <th>Χώρα (Ιστορικά)</th>
                                                    <td>{{ x.countryHistoryGr }}</td>
                                                </tr>
                                                {% if x.journalTitle1 is string %}                                       
                                                <tr>
                                                    <th>Ημερολόγιο (Τίτλος)</th>
                                                    <td>{{ x.journalTitle1 }}</td>                                            
                                                </tr>
                                                <tr>
                                                    <th>Ημερολόγιο (Πηγή 1)</th>
                                                    <td>
                                                        {{ x.relation1 | replace('\n', '<br>') }}
                                                        <br>
                                                        <!-- 
                                                        <a target="_blank"
                                                            title="{{ x.journalSignature2 }}"
                                                            href="https://loris.acdh.oeaw.ac.at/uuid:/kretschmer-lesbos/journal/{{ x.journalFile2 }}/full/full/0/default.jpg">
                                                            {{ x.journalSignature1 }}
                                                        </a> 
                                                        -->
                                                        {{ x.journalSignature1 }}
                                                    </td>
                                                </tr>
                                                {% endif %} 
                                                {% if x.relation2 is string %}
                                                <tr>
                                                    <th>Ημερολόγιο (Πηγή 2)</th>
                                                    <td>
                                                        {{ x.relation2 | replace('\n', '<br>')  }}
                                                        <br>
                                                        <!-- 
                                                        <a target="_blank"
                                                            title="{{ x.journalSignature2 }}"
                                                            href="https://loris.acdh.oeaw.ac.at/uuid:/kretschmer-lesbos/journal/{{ x.journalFile2 }}/full/full/0/default.jpg">
                                                            {{ x.journalSignature2 }}
                                                        </a> 
                                                        -->
                                                        {{ x.journalSignature2 }}
                                                    </td>
                                                </tr>
                                                {% endif %} 
                                                {% if x.journalLink is string %}
                                                <tr>
                                                    <th>ONB Ημερολόγιο (Link)</th>
                                                    <td>
                                                        <a target="_blank"
                                                            title="OENB"
                                                            href="{{ x.journalLink }}">
                                                            {{ x.journalLink }}
                                                        </a>
                                                    </td>
                                                </tr>  
                                                {% endif %} 
                                                {% if x.imageSize is string %}
                                                <tr>
                                                    <th>Μέγεθος Εικόνας</th>
                                                    <td>
                                                        {{ x.imageSize }}
                                                        <br>
                                                        {{ x.px }}
                                                    </td>
                                                </tr>  
                                                {% endif %} 
                                                <tr>
                                                    <th>ARCHE Ressource Centre</th>
                                                    <td>
                                                        <table id="arche-table">
                                                            <thead>
                                                                <tr>
                                                                    <th>PID</th>
                                                                    <th>Fotos (IIIF Server)</th>
                                                                    <th>RDF Zugang</th>
                                                                </tr>
                                                            </tbody>
                                                            <tbody>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" class="file1" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}
                                                                        </a>  
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}?format=iiif&amp;param=info.json">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}?format=metadata">
                                                                            <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                        </a>   
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" class="file2" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json
                                                                        </a>
                                                                    </td>
                                                                    <td>
                                                                        <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=metadata">
                                                                            <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                        </a>  
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <a target="_blank" class="journalfile1" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}">
                                                                            https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}
                                                                        </a> 
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation1 is string %}
                                                                                                                      
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=iiif&amp;param=info.json">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=iiif&amp;param=info.json
                                                                            </a>   
                                                                            
                                                                        {% endif %}   
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation1 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=metadata">
                                                                                <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                            </a> 
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" class="journalfile2" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}
                                                                            </a>  
                                                                        {% endif %} 
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=iiif&amp;param=info.json">
                                                                                https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=iiif&amp;param=info.json
                                                                            </a>       
                                                                        {% endif %}  
                                                                    </td>
                                                                    <td>
                                                                        {% if x.relation2 is string %}
                                                                            <a target="_blank" href="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=metadata">
                                                                                <img src="https://www.w3.org/RDF/icons/rdf_w3c_icon.48" alt="RDF Logo"/>
                                                                            </a> 
                                                                        {% endif %} 
                                                                    </td>
                                                                
                                                                </tr>
                                                            </tbody>
                                                        </table>                                        
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Zitiervorschlag Web</th>
                                                    <td>
                                                        {{ x.photographGr }}. {{ x.titleGr }} In: Die Reise von Paul und Leona Kretschmer nach Lesbos - Fotos und Tonaufnahmen einer Expedition um 1901. 
                                                        Hg. Nikolaros Stratos, Pantillon Gabriel, Brigkos Ioannis, Stoxreiter Daniel 
                                                        (<a href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.fileName }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.fileName }}</a>), aufgerufen am <span class="current-date">Datum</span>.
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Zitiervorschlag ARCHE</th>
                                                    <td>
                                                        {{ x.photographGr }}. {{ x.titleGr }} In: Die Reise von Paul und Leona Kretschmer nach Lesbos - Fotos und Tonaufnahmen einer Expedition um 1901. 
                                                        Hg. Nikolaros Stratos, Pantillon Gabriel, Brigkos Ioannis, Stoxreiter Daniel 
                                                        (<a class="file1" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file1 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file1 }}</a>
                                                            , <a class="file2" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file2 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.file2 }}</a>
                                                        {% if x.journalFile1 is string %}
                                                            , <a class="journalfile1" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile1 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile1 }}</a>
                                                        {% endif %}
                                                        {% if x.journalFile2 is string %}
                                                            , <a class="journalfile2" href="https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile2 }}">https://acdh-oeaw.github.io/kretschmer-static-py/{{ x.journalFile2 }}</a>
                                                        {% endif %}
                                                        ), aufgerufen am <span class="current-date">Datum</span>.
                                                    </td>
                                                </tr>
                                            </tbody>         
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="card">
                            <div class="card-header">
                                <h5>Ort der Fotoaufnahme</h5>
                            </div>
                            <div class="card-body">
                                <div id="map-object"></div>
                            </div>
                        </div>
                        <script>
                            var coords = $("#region-coords").attr("data-target");
                            var lat = coords.split(', ')[0]
                            var long = coords.split(', ')[1]
                            var map = L.map('map-object').setView([lat, long], 13);
                            var tiles = L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                maxZoom: 18,
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                            }).addTo(map);
            
                            function popUp(f,l){
                                var out = [];
                                if (f.properties){
                                    out.push("Ortsname: "+f.properties['title']);
                                    out.push(`Όνομα τόπου: <a href='${f.properties['link']}.html'>${f.properties['titleGr']}</a>`);   
                                    out.push(`Foto: <a href='${f.properties['link']}.html'>${f.properties['linkTitleDe']}</a>`);    
                                    out.push(`Φωτογραφία: <a href='${f.properties['link']}.html'>${f.properties['linkTitleGr']}</a>`);            
                                    l.bindPopup(out.join("<br />"));
                                }
                            };
                            var jsonTest = new L.GeoJSON.AJAX(["{{ data_src }}"],{onEachFeature:popUp}).addTo(map);
                        </script>
                    </div>
                    {% for x in metadata %}
                        {% if x.persons is string %}
                        <div class="col-md-4">
                            <div class="card">
                                <div class="card-header">
                                    <h5>Abgebildete Personen </h5>
                                </div>
                                <div class="card-body">
                                    <ul>
                                        <li><strong>ID</strong></li>
                                        {% for x in x.persons.split(' ') %}                                        
                                        <li>
                                            <a href="{{ x }}.html">
                                                {{ x }}
                                            </a>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div> 
            <div class="col-md-6">    
                <div class="row">    
                    <div class="col-md-12">
                        <div class="card" style="margin-bottom:0;">
                            <div class="card-header">
                                <h5>Fotografien</h5>
                            </div>
                        </div>
                    </div>   
                    <div class="col-md-12">                        
                        <div class="card">
                            <div id="spinner_img-1" class="text-center">
                                <div class="loader"></div>
                            </div>
                            <div class="card-body" id="img-front" data-target="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file1 }}?format=iiif&amp;param=info.json">
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var imgURL = $("#img-front").attr('data-target');
                        $("#img-front").css({
                            'height': '600px'
                        });
                        var viewer = OpenSeadragon({
                            id: 'img-front',
                            prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/',
                            // sequenceMode: true,
                            // showReferenceStrip: true,
                            // showNavigator: true,
                            // imageLoaderLimit: 10,
                            tileSources: imgURL
                        });

                        viewer.addHandler('open', function() {
                            var tiledImage = viewer.world.getItemAt(0);
                            if (tiledImage.getFullyLoaded()) {
                                hideLoading();
                            } else {
                                tiledImage.addOnceHandler('fully-loaded-change', hideLoading);
                            }
                        });

                        function hideLoading() {
                            var spinnerID = "spinner_img-1";
                            if ( $("#" + spinnerID ) ) {
                                $("#" + spinnerID ).remove();
                            }
                        }
                    </script>
                    <div class="col-md-12">
                        <div class="card">
                            <div id="spinner_img-2" class="text-center">
                                <div class="loader"></div>
                            </div>
                            <div class="card-body" id="img-back" data-target="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/photos/{{ x.file2 }}?format=iiif&amp;param=info.json">
                            </div>
                        </div>
                    </div>
                    <script type="text/javascript">
                        var imgURL = $("#img-back").attr('data-target');
                        $("#img-back").css({
                            'height': '600px'
                        });
                        var viewer2 = OpenSeadragon({
                            id: 'img-back',
                            prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/',
                            // sequenceMode: true,
                            // showReferenceStrip: true,
                            // showNavigator: true,
                            // imageLoaderLimit: 10,
                            tileSources: imgURL
                        });
                        
                        viewer2.addHandler('open', function() {
                            var tiledImage = viewer2.world.getItemAt(0);
                            if (tiledImage.getFullyLoaded()) {
                                hideLoading2();
                            } else {
                                tiledImage.addOnceHandler('fully-loaded-change', hideLoading2);
                            }
                        });

                        function hideLoading2() {
                            var spinnerID = "spinner_img-2";
                            if ( $("#" + spinnerID ) ) {
                                $("#" + spinnerID ).remove();
                            }
                        }
                    </script>
                    <div class="row">
                        {% if x.relation1 is string %}
                        <div class="col-md-12">
                            <div class="card" style="margin-bottom:0;">
                                <div class="card-header">
                                    <h5>Reisetagebuch / Ημερολόγιο </h5>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">                            
                            <div class="card">
                                <div id="spinner_img-journal-1" class="text-center">
                                    <div class="loader"></div>
                                </div>
                                <div class="card-body" id="img-journal-1" data-target="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile1 }}?format=iiif&amp;param=info.json">
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var imgURL = $("#img-journal-1").attr('data-target');
                            $("#img-journal-1").css({
                                'height': '400px'
                            });
                            var viewer3 = OpenSeadragon({
                                id: 'img-journal-1',
                                prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/',
                                // sequenceMode: true,
                                // showReferenceStrip: true,
                                // showNavigator: true,
                                // imageLoaderLimit: 10,
                                tileSources: imgURL
                            });

                            viewer3.addHandler('open', function() {
                                var tiledImage = viewer3.world.getItemAt(0);
                                if (tiledImage.getFullyLoaded()) {
                                    hideLoading3();
                                } else {
                                    tiledImage.addOnceHandler('fully-loaded-change', hideLoading3);
                                }
                            });
    
                            function hideLoading3() {
                                var spinnerID = "spinner_img-journal-1";
                                if ( $("#" + spinnerID ) ) {
                                    $("#" + spinnerID ).remove();
                                }
                            }
                        </script>
                        {% endif %}
                        {% if x.relation2 is string %}
                        <div class="col-md-6">
                            <div class="card">   
                                <div id="spinner_img-journal-2" class="text-center">
                                    <div class="loader"></div>
                                </div>                     
                                <div class="card-body" id="img-journal-2" data-target="https://id.acdh.oeaw.ac.at/kretschmer-lesbos/journal/{{ x.journalFile2 }}?format=iiif&amp;param=info.json">
                                </div>
                            </div>
                        </div>
                        <script type="text/javascript">
                            var imgURL = $("#img-journal-2").attr('data-target');
                            $("#img-journal-2").css({
                                'height': '400px'
                            });
                            var viewer4 = OpenSeadragon({
                                id: 'img-journal-2',
                                prefixUrl: 'https://cdnjs.cloudflare.com/ajax/libs/openseadragon/2.4.1/images/',
                                // sequenceMode: true,
                                // showReferenceStrip: true,
                                // showNavigator: true,
                                // imageLoaderLimit: 10,
                                tileSources: imgURL
                            });

                            viewer4.addHandler('open', function() {
                                var tiledImage = viewer4.world.getItemAt(0);
                                if (tiledImage.getFullyLoaded()) {
                                    hideLoading4();
                                } else {
                                    tiledImage.addOnceHandler('fully-loaded-change', hideLoading4);
                                }
                            });
    
                            function hideLoading4() {
                                var spinnerID = "spinner_img-journal-2";
                                if ( $("#" + spinnerID ) ) {
                                    $("#" + spinnerID ).remove();
                                }
                            }
                        </script> 
                        {% endif %}
                    </div>                    
                </div>
            </div>
            
        {% endfor %}       
        
    </div>
    <script type="text/javascript">
        $(function() {

            `
            replacing uri with pid of app build with current date
            in de and en format.
        
            `
            $('.current-date').each(function() {
                let date = new Date();
                let options = { 
                    // weekday: 'long', 
                    year: 'numeric',
                    month: 'numeric', 
                    day: 'numeric'
                };
                $(this).html(
                    date.toLocaleDateString('de-DE', options)
                );
            });
        });
    </script>
    <script type="text/javascript" src="static/js/get_handle.js"></script>
</div>
{% endblock %}