{% extends "templates/base.html" %}
{% block title%} Personenindex {% endblock %}
{% block scriptHeader %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/date-1.1.1/r-2.2.9/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/date-1.1.1/r-2.2.9/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="index.html">Start</a></li>
      <li class="breadcrumb-item active" aria-current="page">Alle Personen als Tabelle</li>
  </ol>
</nav>
<div class="container text-center">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Alle Personen</h1>
      <p class="lead text-muted">Personen abgebildet auf den Fotos von <strong>Paul Kretschmer</strong> </p>
    </div>
  </div>
  <table id="myTable" class="display" style="width:100%;">
    <thead>
      <tr>
        <th>ID</th>
        <th>Vorname</th>
        <th>Vorname griechisch</th>
        <th>Nachname</th>
        <th>Nachname griechisch</th>
      </tr>
    </thead>
    <tbody>
      {% for item in objects %}
        {% for x in item.metadata %}
        <tr>
          <td>
            <a href="{{ x.id }}.html">{{ x.id }}</a>
          </td>
          <td>
            {% if x.Vorname is string %}
            {{ x.Vorname }}
            {% endif %}
          </td>
          <td>
            {% if x.Vorname_gr is string %}
            {{ x.Vorname_gr }}
            {% endif %}
          </td>
          <td>
            {% if x.Familienname is string %}
            {{ x.Familienname }}
            {% endif %}                  
          </td>
          <td>
            {% if x.Familienname_gr is string %}
            {{ x.Familienname_gr }}
            {% endif %}                  
          </td>
        </tr>
        {% endfor %}
      {% endfor %}
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
      $('#myTable').DataTable(
          {
            dom: 'PfrtipB',
            searchPanes: {
                initCollapsed: true
            },
            buttons: [
                'copy', 'excel', 'pdf'
            ],
            columnDefs: [
                {
                    searchPanes: {
                        show: true
                    },
                    targets: [1, 2, 3, 4]
                },
            ]
          }   
      );
  } );
</script>

{% endblock %}