{% extends "templates/base.html" %}
{% block title%} Alle Biographien in Tabellarischer Übersicht {% endblock %}
{% block scriptHeader %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/date-1.1.1/r-2.2.9/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.11.4/b-2.2.2/b-colvis-2.2.2/b-html5-2.2.2/b-print-2.2.2/date-1.1.1/r-2.2.9/sp-1.4.0/sl-1.3.4/sr-1.1.0/datatables.min.js"></script>
{% endblock %}
{% block content %}
<nav style="--bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Start</a></li>
        <li class="breadcrumb-item active" aria-current="page">Alle Biograhpien als Tabelle</li>
    </ol>
</nav>
<section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Alle Photographien</h1>
        <p class="lead text-muted">Visualisierte Photographien von <strong>Paul Kretschmer</strong> </p>
        
      </div>
    </div>
    <table id="myTable" class="display" style="width:100%">
        <thead>
            <tr>
                <th>Titel</th>
                <th>Photograph/in</th>
                <th>Beschreibung</th>
                <th>Ort der Aufnahme</th>
                <th>Koordinaten</th>
                <th>Land</th>
                <th>Land (historisch)</th>
                <th>Datum</th>
            </tr>
        </thead>
        <tbody>
        {% for x in objects %}
            <tr>
                <td><a href="{{ x.fileName }}">{{x.titleOriginal}}</a></td>
                <td>{{x.photographDe}}</td>
                <td>
                    {% if x.descriptionDe is string %}
                        {{x.descriptionDe}}
                    {% endif %}
                </td>
                <td>{{x.placeRegionDe}}</td>
                <td>{{x.coordinates}}</td>
                <td>{{x.countryDe}}</td>
                <td>{{x.countryHistoryDe}}</td>
                <td>{{x.date}}</td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Titel</th>
                <th>Photograph/in</th>
                <th>Beschreibung</th>
                <th>Ort der Aufnahme</th>
                <th>Koordinaten</th>
                <th>Land</th>
                <th>Land (historisch)</th>
                <th>Datum</th>
            </tr>
        </tfoot>
    </table>
    
</section>
<script>
    $(document).ready(function() {
        $('#myTable').DataTable(
            {
                dom: 'PfrtipB',
                searchPanes: {
                    initCollapsed: true
                },
                buttons: [
                    'copy', 'excel', 'pdf'
                ],
                columnDefs: [
                    {
                        searchPanes: {
                            show: true
                        },
                        targets: [2]
                    },
                    {
                        searchPanes: {
                            show: false
                        },
                        targets: [5, 6, 7]
                    }
                ]
            }   
        );
    } );
</script>
{% endblock %}