{% extends "templates/base.html" %}
{% block title%} Die Reise von Paul und Leona Kretschmer nach Lesbos {% endblock %}
{% block scriptHeader %}
<style>
    ul li {
        padding: .3em 0;
    }
</style>
{% endblock %}
{% block content %}
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Start</a></li>     
        <li class="breadcrumb-item active" aria-current="page">Team</li>
      </ol>
  </nav>
  <!--
  <nav style="bs-breadcrumb-divider: '>>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="index.html">Κεντρική σελίδα</a></li>
        <li class="breadcrumb-item active" aria-current="page">Team</li>
    </ol>
  </nav>
-->
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto text-center" id="index-title">
        <h1 class="fw-light">TEAM</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6 mx-auto text-center" style="margin-bottom:4em;">        
        <h3 class="fw-light">Projektleitung</h4>
        <p style="font-size:18px;" class="lead text-muted">
          <a href="https://www.oeaw.ac.at/phonogrammarchiv/phonogrammarchiv/team/efstratios-nikolaros" alt="Stratos Nikolaros">Stratos Nikolaros</a>
        </p>
        <h3 class="fw-light">Projektmitarbeit</h4>
        <p style="font-size:18px;" class="lead text-muted">
            Gabriel Pantillon und <a href="https://univie.academia.edu/IBrigkos" alt="Stratos Nikolaros">Ioannis Brigkos</a>
        </p>
        <h3 class="fw-light">Kooperation <a href="https://www.oeaw.ac.at/acdh" alt="ACDH-CH">ACDH-CH</a></h3>
        <h4 class="fw-light">Technische Umsetzung inklusive Design und Layout.</a></h4>
      </div>
    </div>
  </div>

{% endblock %}